
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color: #8ec1d5;
    border: 1px solid black;
}
h2{font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
}
p{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
ul{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

footer{
    background-color: #005677;
    color:#ffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    padding: 0.25em 0px;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    align-items: center;    
    margin-top: 50px;
}